/* Bright purple: #5549A6 */
/* Dark blue: #1D2F40 */
/* Bright blue: #048ABF */
/* Medium blue: #03658C */
/* Light blue: #049DBF */

nav {
    background-color: #03658C;
}

#contact1,
#contact2,
#formSubmit{
    background-color: #5549A6;
}

body{
    background-color: #1D2F40;
}

.card-body,
.modalCard {
    background-color: lightgray;
}

.card-footer {
    background-color: darkgray;
}

.card {
    border: 2px solid black;
    border-radius: 15px;
}

hr {
    border: 2px solid darkgray;
}

a {
    color: #03658C;
}

#alert-success{
    color: black;
    text-shadow: none;
}

h2,
.lightgray {
    color: lightgray;
}

#logo {
    border: 2px solid lightgrey;
    border-radius: 10px;
}

.navbar-brand {
    margin-left: 1rem;
}

#footer {
    background-color: #172533;
}

.jumbotron{
    background: url('../assets/jc_skyline.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.jumbotron div{
    color: lightgray;
    text-shadow: 1px 1px darkgray;
}

.about {
    width: 90%; 
    margin: 0 auto;
    max-width: 1200px;
}

.social {
    width: 50px;
}

.chevron {
    width: 100px;
    position: absolute;
    bottom:10px;
    left: 50%;
    margin-left: -50px;
}

html{
    scroll-behavior: smooth;
}


#modal{
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.modalCard{
    border: 1px solid darkgray;
    border-radius: 10px;
    position: fixed;
    background-color: #DAF3FF;
    width: 80%;
    max-width: 500px;
    max-height: 600px;
    overflow: scroll;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    padding: 1em;
}

#inputName:focus,
#inputEmail:focus{
    border-color: #5549A6;
    box-shadow: 0 0 10px #5549A6;
}

.alert-success{
    max-width: 1000px;
    margin: 0 auto;
}


@media(min-width:768px){
    .contactCard{
        max-width: 350px;
        margin: 0 auto;
        padding: 2em;
    }

}