/* ----------- */
/* --Font -----*/
/* ----------- */

@import url('https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap');

body {
    font-family: 'Kulim Park', Helvetica, sans-serif;
    box-sizing: border-box;
}


/* ----------- */
/* Main Styles */
/* ----------- */


.daily,
.mobile-users,
.social,
.new-members,
.recent-activity,
.message-user,
.settings {
    padding: 2em;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

/* Header Styles */

header {
    background-color: #499797;
}

h1 {
    padding-left: 1em;
}

h1,
header h3 {
    color: white;
    padding-right: 1em;
}

img {
    height: 40px;
}

.notifications {
    border-right: 1px solid darkgray;
    padding-right: 1em;
    width: 40px;
    height: 40px;
    position: relative;
}

#notificationBell{
    transition: transform 0.5s;
}

#notificationBell:hover {
    /* transform: scale(1.2); */
    transform: scale(1.2) rotate(-15deg);
}

.notifications:after {
    content:"";
    width:15px;
    height:15px;
    border-radius:50%;
    background: rgb(46, 182, 46);
    display:inline-block;
    position: absolute;
    left: 20px;
}

#notifications {
    background-color: lightgray;
    border: 1px solid black;
    position: absolute;
    top:50px;
    display:none;
}

.avatar {
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
}

/* Nav Styles --------- */

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;    
}

.nav-active {
    background-color: #499797;
}


/* Body Styles  ---------*/

.search {
    width: 70%;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

.search input {
    width: 100%;
    padding: 0.5em;
    border: none;
}

.header-links img,
.header-links h4,
.notifications {
    margin-right: 1em;
}

.active {
    background-color: rgb(46, 182, 46);
    color: white;
}

/* Charts Styles ---------- */

.traffic-header {
    display: flex;
    flex-direction: column;
}

.traffic-nav {
    text-align: right;
}

.traffic-nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    border-radius: 10px;
}

/* Social Styles --------- */

.social-container {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.social-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #499797;
    display: flex;
    justify-content: center;
    position: relative;
}

.social-image svg {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 20%;
}
.social-headline {
    color: #499797;
    font-weight: bold;
    margin: 0;
}

.social-number {
    font-size: 3em;
    margin: 0;
}

.widget-container-full, .widget-container-half {
    width: 90vw;
    margin: 0 auto;
}

/* Message User Styles ----------- */

form input {
    padding: 0.5em;
    border: 1px solid lightgray;
}

form textarea {
    height: 10em;
    padding: 1em 0.5em;
    margin-top: 1em;
    border: 1px solid lightgray;
}

#send,
#save,
#cancel {
    border: none;
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

#send, 
#save {
    background-color:  #499797;
}
#cancel {
    background-color: darkgray;
}


/* Settings Styles ----- */

#timezone {
    border: 1px solid lightgray;
    width: 90%;
}

.settings {
    display: flex;
    flex-wrap: wrap;
}

.settings h3,
.settings div {
    width: 100%;
}

.userSetting * {
    display: inline-block;
}

.userSetting strong {
    width: 40%;
}

.userSetting label {
    width: 100px;
}

.userSetting {
    padding-bottom: 1em;
}


/* --------------------- */
/* --Flexbox Styles -----*/
/* --------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-links {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-header {
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
}

.member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid darkgray;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.member-container div {
    padding-left: 1em;
    flex-grow: 3;
}

.member-container > p {
    padding-left: 2em;
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

/* Alert Banner Styles -------- */

.alertBanner,
.errorAlert,
.notificationAlert,
#settingsAlert{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

.alertBanner,
.errorAlert {
    border-radius: 5px;
    margin-left: 1em;
    margin-right: 1em;
}

.alertBanner{
    background-color: #499797;
}

.errorAlert{
    background-color: #974949;
}

.notificationAlert{
    background-color: white;
    width: 200px;
    margin-bottom: 1em;
}

#settingsAlert{
    text-align: center;
}

.notificationAlert p {
    color: black;
}

.alertBanner p {
    display: inline;
}


/* ------------------ */
/* --Grid Styles -----*/
/* ------------------ */


header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

.social {
    display: grid;
    grid-template-columns: 1fr;
}

/* Media Queries ------------- */

@media (min-width: 480px) {
    .social-container {
        margin: 1em;
    }

    .member-container {
        flex-direction: row;
    }
    
    .member-container div {
        flex-grow: 3;
    }
}

@media(min-width: 504px){
    .main-header{
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: 100px auto;
        grid-template-rows: 100px auto;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    nav a {
        padding: 1em;
        border-radius: 20px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .search input {
        width: 50%;
    }

    .main-header,
    #alert,
    .traffic,
    .social,
    .new-members,
    .recent-activity
    
    {
        grid-column: 1 / -1;
    }

    .widget-container-full {
        width: 80vw;
    } 
    
    .widget-container-half {
        width: 30vw;
    }

    .social {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #notifications {
        top:50px;
        right: 10px;
    }
    .notificationAlert{
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .social {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .new-members {
        grid-column: 1 / 2;
    }

    .recent-activity {
        grid-column: 2 / 3;
    }
}