@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Lora|Montserrat+Alternates:700&display=swap');
@import url("https://use.typekit.net/bpn3zhn.css");

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	font-family: "Lora", serif;
	font-size: 16px;
	line-height:1.5em;
	text-align: center;
	margin: auto;
	background-color: #D8D8D8;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
	margin-top:1em;
	margin-bottom:1em;
	text-align: center;
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
h1{
	font-family:"Tenso", bold;
	font-size: 64px;
	line-height:1em;
	text-align:right;
	margin-right:0.5em;
}
h2{
	font-family:"Be Vietnam", bold;
	font-size: 48px;
	line-height: 1.5em;
	margin-bottom:1em;
	margin-right:0.5em;
	text-align: center;
}
img {
	width:50em;
	margin: auto;

}
a {
	text-decoration:none;
}
p{
	text-align:left;
	width: 40em;
	margin:0 auto;
	line-height: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}
ul {
	margin: 0 auto;
	width: 40em;
}
li {
	text-align:left;
	width: 40em;
	margin:0 auto;
	line-height: 1.5em;
}
.logo {
	width:15em;
	margin: 0 auto;
	display:inline-block;
}
.titlelogo{
	width:20em;
}
.cta{
	font-family:"Be Vietnam", bold;
	text-transform: uppercase;
	color: black;
	background-color: #51D4FF;
	padding: 2em;
}
.navlinks{
	font-family:"Be Vietnam", bold;
	padding:1em 2em;
	color:#456EFF;
}
.slogan {
	margin-bottom:2em;
	text-align:right;
}
.headshot {
	height:10em;
	width:10em;
}
#splash {
	background: url("../images/splash_img.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	height: 90vh;
	text-align:right;
	padding: 10em 2em;
}
.iglogo {
	width:3em;
	margin:1.5em;
}